@import './globals.scss';

.countdown{
    background-color: $black;
    color: $white;
    padding: 5rem 0;
    font-family: 'Raleway', sans-serif;
    h3{
        font-size: 3rem;
        font-weight: bold;
    }

    h4{
        font-size: 2rem;
        font-weight: bold;
    }
}

.block{
    border: 1px solid darken($black, 100);
    padding: 0 1rem 1rem 1rem;
    margin: 2rem 0;
    border-radius: .5rem;
}

.count{
    color: $gold;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}
.text{
    color: $white;
}

.signup{
    font-family: 'Raleway', sans-serif;
    color: $black;
    display: table;
    background-color: $gold;
    border: 1px solid $gold;
    padding: 1rem 2rem;
    margin: 1rem auto;
    font-weight: 700;
    text-decoration: none;
    border-radius: .5rem;
    transition: 150ms linear;
    &:hover{
        color: $white;
        border-color: $gold;
        background-color: transparent;
    }
}